.DeleteButton {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}

.DeleteButton:hover {
  color: #777;
}

.DeleteButton[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
